.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  min-width: 22vw;
  width: fit-content;
  min-height: 22vw;
  padding: 24px;
  padding-top: 12px;
  border-radius: 5.6px;
  box-shadow: inset 0 0 13px 0 rgba(255, 255, 255, 0.32);
  border: solid 0.5px #fff;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &.is-active {
    box-shadow: inset 0 0 13px 0 rgba(93, 234, 253, 0.32);
    border: solid 0.5px #5deafd;
    background-color: #111216;
  }
}

.card-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-top: 16px;

  button {
    width: 100%;
  }
}

.card-title {
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: 0.11px;
  color: #fff;
  opacity: 0.8;
  margin-left: auto;
}

.card-task {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.card-btn {
  width: 100%;
  overflow: hidden;

  button {
    width: 100%;
  }
}
