.table {
  height: fit-content;
  overflow-y: auto;
}

%table-font {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.09px;
  color: #fff;
}

.table-item {
  @extend %table-font;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  &:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  label {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    width: 100%;
    padding: 22px 0;
    cursor: pointer;
  }

  span {
    @extend %table-font;
    display: block;
  }
}

.table-btn {
  width: 30%;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 50px;

  .btn {
    width: 100%;
  }
}
